@model GroupApp.Models.CentralLocations

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Central Austin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Establishment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Establishment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> fb9284e99864479f00fb130461a796798f43899e
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
<<<<<<< HEAD
=======
    
>>>>>>> a0d5ffb9d521ed06ad223332783a39f144db96f2
=======
>>>>>>> fb9284e99864479f00fb130461a796798f43899e
        <dt>
            @Html.DisplayNameFor(model => model.Thoughts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thoughts)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>