@model IEnumerable<GroupApp.Models.CentralLocations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <img src="~/images/CentralAustinPicture.png" alt="ASP.NET" class="img-responsive" />
</div>

<div>
    <p>
        <h4> <a asp-action="Create">Add New Invite</a></h4>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Establishment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

<<<<<<< HEAD
<<<<<<< HEAD
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
=======
            <
>>>>>>> a0d5ffb9d521ed06ad223332783a39f144db96f2
=======
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>

>>>>>>> fb9284e99864479f00fb130461a796798f43899e
            <th>
                @Html.DisplayNameFor(model => model.Thoughts)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @item.Name
    </td>
    <td>
        @item.Establishment
    </td>
    <td>
        @item.Address
    </td>

<<<<<<< HEAD
<<<<<<< HEAD
            <td>
                @Html.DisplayNameFor(model => model.DateTime)
            </td>
=======
           
>>>>>>> a0d5ffb9d521ed06ad223332783a39f144db96f2
            <td>
                @Html.DisplayNameFor(model => model.Thoughts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
=======
    <td>
        @item.DateTime
    </td>

    <td>
        @item.Thoughts
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>
>>>>>>> fb9284e99864479f00fb130461a796798f43899e
}
    </tbody>
</table>