@model IEnumerable<GroupApp.Models.CentralLocations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <img src="~/images/CentralAustinPicture.png" alt="ASP.NET" class="img-responsive" />
</div>

<div>
    <p>
        <h4> <a asp-action="Create">Add New Invite</a></h4>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Establishment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>

            <

            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Thoughts)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @item.Name
    </td>
    <td>
        @item.Establishment
    </td>
    <td>
        @item.Address
    </td>


            <td>
                @Html.DisplayNameFor(model => model.DateTime)
            </td>

           

            <td>
                @Html.DisplayNameFor(model => model.Thoughts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>